/* 
.container form button[name="acessar"]:disabled {
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #c4e6df;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
	cursor: not-allowed;
	pointer-events: none;
	background: #c4e6df;
} 
*/
:root[data-theme=dark] {
  --thema-background: rgb(71, 71, 71);
  --thema-container: rgb(34, 34, 34);
  --thema-color: rgb(255, 255, 255);
}
:root[data-theme=light] {
  --thema-background: rgb(216, 216, 216);
  --thema-container: rgb(255, 255, 255);
  --thema-color: rgb(0, 0, 0);
}

body {
  background-color: var(--thema-background);
}

.thema {
  background-color: red;
}

.container {
  max-width: 500px;
  padding: 10px 20px;
  background: var(--thema-container);
  color: var(--thema-color);
  margin: 10px auto;
  padding: 20px;
  border-radius: 8px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.container fieldset {
  border: none;
  padding: 0;
  margin: 1rem 0 1rem 0;
}
.container legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}
.container label {
  display: block;
  margin-bottom: 8px;
}
.container input[type=text] {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 0.4rem;
  font-size: 15px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #e8eeef;
  color: #677378;
  margin-top: 15px;
}
.container input[type=text]:focus {
  background: #d2d9dd;
}
.container input[type=password] {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 0.4rem;
  font-size: 15px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #e8eeef;
  color: #677378;
  margin-top: 15px;
}
.container input[type=date] {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 0.4rem;
  font-size: 15px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #e8eeef;
  color: #677378;
  margin-top: 15px;
}
.container input[type=date]:focus {
  background: #d2d9dd;
}
.container input[type=datetime] {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 0.4rem;
  font-size: 15px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #e8eeef;
  color: #677378;
  margin-top: 15px;
}
.container input[type=datetime]:focus {
  background: #d2d9dd;
}
.container input[type=email] {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 0.4rem;
  font-size: 15px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #e8eeef;
  color: #677378;
  margin-top: 15px;
}
.container input[type=email]:focus {
  background: #d2d9dd;
}
.container input[type=number] {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 0.4rem;
  font-size: 15px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #e8eeef;
  color: #677378;
  margin-top: 15px;
}
.container input[type=number]:focus {
  background: #d2d9dd;
}
.container input[type=search] {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 0.4rem;
  font-size: 15px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #e8eeef;
  color: #677378;
  margin-top: 15px;
}
.container input[type=search]:focus {
  background: #d2d9dd;
}
.container input[type=time] {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 0.4rem;
  font-size: 15px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #e8eeef;
  color: #677378;
  margin-top: 15px;
}
.container input[type=time]:focus {
  background: #d2d9dd;
}
.container input[type=url] {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 0.4rem;
  font-size: 15px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #e8eeef;
  color: #677378;
  margin-top: 15px;
}
.container input[type=url]:focus {
  background: #d2d9dd;
}
.container textarea {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 0.4rem;
  font-size: 15px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #e8eeef;
  color: #677378;
  margin-top: 15px;
}
.container textarea:focus {
  background: #d2d9dd;
}
.container select {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 0.4rem;
  font-size: 15px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #e8eeef;
  color: #677378;
  margin-top: 15px;
}
.container select:focus {
  background: #d2d9dd;
}
.container form button[name=acessar] {
  position: relative;
  display: block;
  padding: 1rem 0.5rem 1rem 0.5rem;
  color: #FFF;
  background: #1abc9c;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  width: 100%;
  border: 1px solid #16a085;
  border-radius: 0.4rem;
  margin-bottom: 10px;
  background-color: transparent;
  color: var(--thema-color);
}
.container input[type=submit]:hover {
  background: #109177;
}
.container input[type=button]:hover {
  background: #109177;
}
.container ul {
  padding-left: 0;
  max-height: 500px;
  overflow: auto;
}
.container ul li {
  list-style: none;
  font-family: "Courier New", Courier, monospace;
  background-color: #1abc9c;
  color: white;
  padding: 10px;
  margin-bottom: 4px;
}

a[name=limpar] {
  text-align: center;
  display: block;
}

.right {
  float: right;
}

span[role=alert] {
  color: red;
  display: none;
}

span[role=alert].visivel {
  display: block;
}

/*# sourceMappingURL=styles.css.map */
