$color_1: var(--thema-color);
$color_2: #677378;
$color_3: #FFF;
$color_4: white;
$color_5: red;
$font-family_1: Georgia, "Times New Roman", Times, serif;
$font-family_2: 'Courier New', Courier, monospace;
$background-color_1: var(--thema-background);
$background-color_2: red;
$background-color_3: #e8eeef;
$background-color_4: transparent;
$background-color_5: #1abc9c;

/* 
.container form button[name="acessar"]:disabled {
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #c4e6df;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
	cursor: not-allowed;
	pointer-events: none;
	background: #c4e6df;
} 
*/

:root{
  &[data-theme='dark'] {
    --thema-background: rgb(71, 71, 71);
    --thema-container: rgb(34, 34, 34);
    --thema-color: rgb(255, 255, 255);
  }

  &[data-theme='light'] {
    --thema-background: rgb(216, 216, 216);
    --thema-container: rgb(255, 255, 255);
    --thema-color: rgb(0, 0, 0);
  }
}

body {
  background-color: $background-color_1;
}

.thema {
  background-color: $background-color_2;
}

.container {
  max-width: 500px;
  padding: 10px 20px;
  background: var(--thema-container);
  color: $color_1;
  margin: 10px auto;
  padding: 20px;
  border-radius: 8px;
  font-family: $font-family_1;

  fieldset {
    border: none;
    padding: 0;
    margin: 1rem 0 1rem 0;
  }

  legend {
    font-size: 1.4em;
    margin-bottom: 10px;
  }

  label {
    display: block;
    margin-bottom: 8px;
  }

  input[type="text"] {
    font-family: $font-family_1;
    background: rgba(255, 255, 255, .1);
    border: none;
    border-radius: 0.4rem;
    font-size: 15px;
    margin: 0;
    outline: 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: $background-color_3;
    color: $color_2;
    margin-top: 15px;

    &:focus {
      background: #d2d9dd;
    }
  }

  input[type="password"] {
    font-family: $font-family_1;
    background: rgba(255, 255, 255, .1);
    border: none;
    border-radius: 0.4rem;
    font-size: 15px;
    margin: 0;
    outline: 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: $background-color_3;
    color: $color_2;
    margin-top: 15px;
  }

  input[type="date"] {
    font-family: $font-family_1;
    background: rgba(255, 255, 255, .1);
    border: none;
    border-radius: 0.4rem;
    font-size: 15px;
    margin: 0;
    outline: 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: $background-color_3;
    color: $color_2;
    margin-top: 15px;

    &:focus {
      background: #d2d9dd;
    }
  }

  input[type="datetime"] {
    font-family: $font-family_1;
    background: rgba(255, 255, 255, .1);
    border: none;
    border-radius: 0.4rem;
    font-size: 15px;
    margin: 0;
    outline: 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: $background-color_3;
    color: $color_2;
    margin-top: 15px;

    &:focus {
      background: #d2d9dd;
    }
  }

  input[type="email"] {
    font-family: $font-family_1;
    background: rgba(255, 255, 255, .1);
    border: none;
    border-radius: 0.4rem;
    font-size: 15px;
    margin: 0;
    outline: 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: $background-color_3;
    color: $color_2;
    margin-top: 15px;

    &:focus {
      background: #d2d9dd;
    }
  }

  input[type="number"] {
    font-family: $font-family_1;
    background: rgba(255, 255, 255, .1);
    border: none;
    border-radius: 0.4rem;
    font-size: 15px;
    margin: 0;
    outline: 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: $background-color_3;
    color: $color_2;
    margin-top: 15px;

    &:focus {
      background: #d2d9dd;
    }
  }

  input[type="search"] {
    font-family: $font-family_1;
    background: rgba(255, 255, 255, .1);
    border: none;
    border-radius: 0.4rem;
    font-size: 15px;
    margin: 0;
    outline: 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: $background-color_3;
    color: $color_2;
    margin-top: 15px;

    &:focus {
      background: #d2d9dd;
    }
  }

  input[type="time"] {
    font-family: $font-family_1;
    background: rgba(255, 255, 255, .1);
    border: none;
    border-radius: 0.4rem;
    font-size: 15px;
    margin: 0;
    outline: 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: $background-color_3;
    color: $color_2;
    margin-top: 15px;

    &:focus {
      background: #d2d9dd;
    }
  }

  input[type="url"] {
    font-family: $font-family_1;
    background: rgba(255, 255, 255, .1);
    border: none;
    border-radius: 0.4rem;
    font-size: 15px;
    margin: 0;
    outline: 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: $background-color_3;
    color: $color_2;
    margin-top: 15px;

    &:focus {
      background: #d2d9dd;
    }
  }

  textarea {
    font-family: $font-family_1;
    background: rgba(255, 255, 255, .1);
    border: none;
    border-radius: 0.4rem;
    font-size: 15px;
    margin: 0;
    outline: 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: $background-color_3;
    color: $color_2;
    margin-top: 15px;

    &:focus {
      background: #d2d9dd;
    }
  }

  select {
    font-family: $font-family_1;
    background: rgba(255, 255, 255, .1);
    border: none;
    border-radius: 0.4rem;
    font-size: 15px;
    margin: 0;
    outline: 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: $background-color_3;
    color: $color_2;
    margin-top: 15px;

    &:focus {
      background: #d2d9dd;
    }
  }

  form {
    button[name="acessar"] {
      position: relative;
      display: block;
      padding: 1rem 0.5rem 1rem 0.5rem;
      color: $color_3;
      background: #1abc9c;
      font-size: 18px;
      text-align: center;
      font-style: normal;
      width: 100%;
      border: 1px solid #16a085;
      border-radius: 0.4rem;
      margin-bottom: 10px;
      background-color: $background-color_4;
      color: $color_1;
    }
  }

  input[type="submit"] {
    &:hover {
      background: #109177;
    }
  }

  input[type="button"] {
    &:hover {
      background: #109177;
    }
  }

  ul {
    padding-left: 0;
    max-height: 500px;
    overflow: auto;

    li {
      list-style: none;
      font-family: $font-family_2;
      background-color: $background-color_5;
      color: $color_4;
      padding: 10px;
      margin-bottom: 4px;
    }
  }
}

a[name="limpar"] {
  text-align: center;
  display: block;
}

.right {
  float: right;
}

span[role="alert"] {
  color: $color_5;
  display: none;
}

span[role="alert"].visivel {
  display: block;
}